---
layout: default
---

<div class="home">


  <h1 class="page-heading">DFAK Content</h1>
<p><strong>BETA: this lists every page in _pages without any order!</strong></p>
  <ul class="post-list">
    {% assign sorted_pages = site.pages | sort: "language" %}
    {% for page in sorted_pages %}
      <li>
        <h2>
          <a class="post-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>



  <h1 class="page-heading">DFAK Updates</h1>
  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
