---
layout: index.pug
language: fa
permalink: /fa/
---

.header.full-width
  .contents
    h1 خوش‌آمدید به
    br
    h1 بسته کمک‌های اولیه دیجیتال!
    br
    h1#sub یک بسته که طراحی شده است تا شما را به درست‌ترین تیم گروه پاسخ‌گویی حوادث رایانه‌ای جامعه مدنی برساند

.intro
  .contents
    p بسته کمک‌های اولیه دیجیتال منبعی رایگان برای کمک به پاسخ‌دهنده‌های سریع، مدرسان امنیت دیجیتال و فعالان فن‌آوری است تا از خود و جوامعی که از آنها حمایت می‌کنند، در برابر رایج‌ترین انواع خطرهای دیجیتال محافظت بهتری داشته باشند. همچنین می‌تواند توسط فعالان، مدافعان حقوق بشر، وبلاگ‌نویسان، روزنامه‌نگاران یا فعالان رسانه‌ای که می‌خواهند درباره نحوه محافظت از خود و حمایت از دیگران بیشتر بدانند، مورد استفاده قرار گیرد. اگر شما یا شخصی که به او کمک می‌کنید با یک وضعیت اورژانسی دیجیتال روبرو هستید، بسته کمک‌های اولیه دیجیتال شما را در تشخیص مشکلاتی که با آن مواجه هستید راهنمایی می‌کند و در صورت نیاز شما را برای کمک بیشتر به ارائه دهندگان پشتیبانی ارجاع می‌دهد.

.how
  .contents.fixed-width-smaller-container
    .separator
      h1 با چه مشکلاتی رو به رو هستید؟

    .pure-g
      .icons.pure-u-1
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='topics/lost-device')
            img(src=site.baseurl + '/images/topics/lost-device.svg', width=180)
            p دستگاهم را گم کردم
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='topics/account-access-issues')
            img(src=site.baseurl + '/images/topics/account-access-issues.svg', width=180)
            p دسترسی به حساب‌هایم را از دست دادم
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='topics/device-acting-suspiciously')
            img(src=site.baseurl + '/images/topics/device-acting-suspiciously.svg', width=180)
            p دستگاه من رفتار مشکوکی دارد
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='topics/suspicious-messages')
            img(src=site.baseurl + '/images/topics/suspicious-messages.svg', width=180)
            p پیام‌های مشکوکی را دریافت می‌کنم
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='topics/website-not-working')
            img(src=site.baseurl + '/images/topics/website-not-working.svg', width=180)
            p وب‌سایت من کار نمی‌کند
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='topics/impersonated')
            img(src=site.baseurl + '/images/topics/impersonated.svg', width=180)
            p کسی هویت من را در اینترنت جعل می‌کند
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='topics/harassed-online')
            img(src=site.baseurl + '/images/topics/harassed-online.svg', width=180)
            p مود آزار و اذیت آنلاین قرار گرفتن
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='topics/lost-data')
            img(src=site.baseurl + '/images/topics/lost-data.svg', width=180)
            p داده‌های خود را از دست دادم
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='arrested')
            img(src=site.baseurl + '/images/topics/arrested.svg', width=180)
            p کسی که می‌شناسم بازداشت شده
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='topics/defamation')
            img(src=site.baseurl + '/images/topics/defamation.svg', width=180)
            p من توسط کارزار تهمت هدف قرار گرفته شدم
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='topics/surveilled')
            img(src=site.baseurl + '/images/topics/surveilled.svg', width=180)
            p من فکر می‌کنم که مورد جاسوسی قرار گرفتم
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='topics/doxing')
            img(src=site.baseurl + '/images/topics/doxing.svg', width=180)
            p من مورد آزار و اذیت قرار گرفته‌ام یا شخصی بدون رضایت من اطلاعات خصوصی من را به اشتراک می‌گذارد
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic

    p.after
      | مشکلی که با آن روبرو هستید و بسته کمک‌های اولیه دیجیتال را انتخاب کنید تا
      | شما را از طریق مجموعه‌ای از سوالات راهنمایی می‌کند تا مشکلات شما را بهتر تشخیص دهد
      | و موضوع و منابعی برای کمک به شما پیدا کنید. برای مشکلاتی که شما نمی‌توانید
      | به تنهایی با آنها مقابله کنید، DFAK دارای یک
      a(href="support/") فهرستی از سازمان‌های است که می‌توانید با آنها مشورت کنید
      | .

.bottom
  .contents.fixed-width-smaller-container
    .pure-g
      .pure-u-1-1.cols
        .pure-u.pure-u-md-1-3.pure-u-sm-1.grey
          h1 چه چیز دیگری نیاز دارید تا بدانید؟
          p
            | بسته کمک‌های اولیه دیجیتال به عنوان راه حل نهایی برای همه شرایط
            | اضطراری دیجیتال نیست. شما اگر در مورد نحوه رسیدگی به مشکلاتی
            | که با آن روبرو هستید تردید دارید، لطفاً
            a(href="support/") لیست سازمان‌های حمایتی که می‌توانید با آنها مشورت کنید
            | را بررسی کنید.
        .pure-u.pure-u-md-1-3.pure-u-sm-1.lightgrey
          h1 احساس غرق شدن زیر بار و فشاری را دارید؟
          p
            |  آزار و اذیت آنلاین، تهدیدها و انواع دیگر حملات دیجیتالی می‌تواند
            | بار بزرگی بر احساسات و آسایش شما ایجاد کند.
            a(href="self-care/") نکات مراقبت از خود
            | ما را بخوانید تا منابع و سازمان‌های بیشتری را برای حمایت و کاهش بیابید
            |.
        .pure-u.pure-u-md-1-3.pure-u-sm-1.grey
          h1 چه کسی پشت بسته کمک‌های اولیه دیجیتالی است؟
          p
            | این منبع حاصل تلاش مشترکی از
            a(href="https://rarenet.org") شبکه واکنش سریع
            | و
            a(href="https://civicert.org") تیم گروه پاسخ‌گویی حوادث رایانه‌ای جامعه مدنی
            | . صفحه
            a(href="about/") درباره ما
            | برای اطلاعات بیشتر مشاهده کنید بسته کمک‌های اولیه دیجیتال یک پروژه منبع باز است و ما از
            a(href="https://gitlab.com/rarenet/dfak") مشارکت شما
            | استقبال می‌کنیم.
