---
layout: index.pug
language: ru
permalink: /ru/
---

.header.full-width
  .contents
    h1 Digital First Aid Kit
    br
    h1 Добро пожаловать!
    br
    h1#sub Мы поможем вам подобрать нужную команду CiviCERT

.intro
  .contents
    p Digital First Aid Kit — бесплатный ресурс для поддержки оперативных консультантов, тренеров по цифровой безопасности, технически продвинутых активистов. Наша задача — помочь этим людям более эффективно защищать себя и сообщества, которые они поддерживают, от самых распространённых цифровых угроз. Мы рады и другим читателям: активистам, правозащитникам, блогерам, журналистам и медиа-активистам. Всем, кто хочет узнать больше о том, как защитить себя и помочь другим. Если вы (или тот, кому вы помогаете) столкнулись с инцидентом цифровой безопасности, попробуйте Digital First Aid Kit. Он поможет точнее определить проблему, а если нужно, то и обратиться за профильной помощью.

.how
  .contents.fixed-width-smaller-container
    .separator
      h1 С какой проблемой вы столкнулись?

    .pure-g
      .icons.pure-u-1
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='topics/lost-device')
            img(src=site.baseurl + '/images/topics/lost-device.svg', width=180)
            p Проблема доступа к устройству
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='topics/account-access-issues')
            img(src=site.baseurl + '/images/topics/account-access-issues.svg', width=180)
            p Проблема доступа к аккаунту
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='topics/device-acting-suspiciously')
            img(src=site.baseurl + '/images/topics/device-acting-suspiciously.svg', width=180)
            p Моё устройство подозрительно себя ведёт
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='topics/suspicious-messages')
            img(src=site.baseurl + '/images/topics/suspicious-messages.svg', width=180)
            p Мне пришло подозрительное сообщение
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='topics/website-not-working')
            img(src=site.baseurl + '/images/topics/website-not-working.svg', width=180)
            p Мой сайт не работает
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='topics/impersonated')
            img(src=site.baseurl + '/images/topics/impersonated.svg', width=180)
            p Кто-то представляется мной в интернете
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='topics/harassed-online')
            img(src=site.baseurl + '/images/topics/harassed-online.svg', width=180)
            p Проблема с онлайновым харассментом
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='topics/lost-data')
            img(src=site.baseurl + '/images/topics/lost-data.svg', width=180)
            p Мои данные пропали
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='arrested')
            img(src=site.baseurl + '/images/topics/arrested.svg', width=180)
            p Мой знакомый арестован
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='topics/defamation')
            img(src=site.baseurl + '/images/topics/defamation.svg', width=180)
            p Против меня ведётся клеветническая кампания
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='topics/surveilled')
            img(src=site.baseurl + '/images/topics/surveilled.svg', width=180)
            p Думаю, за мной следят
        .pure-u-1.pure-u-md-1-3.pure-u-sm-1-2.topic
          a.topic(href='topics/doxing')
            img(src=site.baseurl + '/images/topics/doxing.svg', width=180)
            p Я стал(а) жертвой доксинга, или моя личная информация рапространяется в сети без моего согласия

    p.after
      | Выберите ситуацию из списка. Digital First Aid Kit
      | предложит вам ряд вопросов. Ответы позволят точнее определить
      | проблему и подобрать решения. Если дело трудно разрулить
      | своими силами, вы можете связаться с кем-нибудь из нашего
      a(href="support/") списка помогающих организаций
      | .

.bottom
  .contents.fixed-width-smaller-container
    .pure-g
      .pure-u-1-1.cols
        .pure-u.pure-u-md-1-3.pure-u-sm-1.grey
          h1 ЧТО ЕЩЁ ВЫ ХОТЕЛИ БЫ УЗНАТЬ?
          p
            | Digital First Aid Kit — не панацея от всех цифровых бед.
            | Если вы не уверены, что делать с обнаруженными проблемами,
            | пожалуйста, обращайтесь к консультантам из нашего списка
            a(href="support/") помогающих организаций
            | .
        .pure-u.pure-u-md-1-3.pure-u-sm-1.lightgrey
          h1 МНОГО ЧРЕЗМЕРНЫХ ПЕРЕЖИВАНИЙ?
          p
            | Домогательства, угрозы и прочие неприятности в цифровом мире
            | могут нанести серьёзный ущерб вашим чувствам и благополучию.
            a(href="self-care/") Советы о том, как заботиться о себе,
            | где найти ресурсы, с кем связаться для поддержки и уменьшения
            | ущерба.
        .pure-u.pure-u-md-1-3.pure-u-sm-1.grey
          h1 КТО РАБОТАЕТ НАД DIGITAL FIRST AID KIT?
          p
            | Этот ресурс — продукт совместных усилий
            a(href="https://rarenet.org") Rapid Response Network
            | и
            a(href="https://civicert.org") CiviCERT
            | . Подробнее см.
            a(href="about/") здесь
            | . Digital First Aid Kit — проект с открытым кодом. Приветствуем
            a(href="https://gitlab.com/rarenet/dfak") ваш вклад
            | .
